body{
    background-image: url("imagenes/fondoPokemons.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;  

    height: 98vh;

    font-family: "Comfortaa";
}

#titulo{
    width: 40%;
    height: 70px;
    min-width: 417px;

    background-color: white;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Comfortaa';
    font-size: 20px;
    color: #2c2c2c;
}

.logotitulo{
    width: 7%;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@keyframes spin2 { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
}

#cabecera img:nth-child(1){
    animation:spin 2s linear infinite;
}

#cabecera img:nth-child(3){
    animation: spin2 2s linear infinite;
}

#icono img{
    width: 100px;
    position: absolute;
    left: 10px;
    top: 10px;   
}

#cabecera{
    display: flex;
    flex-direction: row;
    place-content: center;
    position: absolute;
    top: 5%;
    align-items: center;
}




/*PERSONAJES*/
#padre{
    width: 80%;
    height: 650px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
}

#pokemon1{
    border-bottom: 2px solid #ebaf87;
    width: 100%;
    height: 70%;
    flex-direction: column;
    background-image: url("imagenes/pokemon1.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Pokemon1{
    border: 2px solid #ebaf87;
    border-radius: 5%;

    width: 20%;
    height: 40%;
    min-width: 225px;
    margin: auto;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    p{
        color:#ebaf87;
        height: 20%;
        width: 20%;
        text-align: center;
    }
}

#pokemon2{
    border-bottom: 2px solid #abd896;
    width: 100%;
    height: 70%;
    flex-direction: column;
    background-image: url("imagenes/pokemon2.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Pokemon2{
    border: 2px solid #abd896;
    border-radius: 5%;

    width: 20%;
    height: 40%;
    min-width: 225px;
    margin: auto;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    p{
        color:#abd896;
        height: 20%;
        width: 20%;
        text-align: center;
    }
}

#Pokemon3{
    border: 2px solid #96d8d5;
    border-radius: 5%;

    width: 20%;
    height: 40%;
    min-width: 225px;
    margin: auto;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    p{
        color:#96d8d5;
        height: 20%;
        width: 20%;
        text-align: center;
    }
}

#pokemon3{
    border-bottom: 2px solid #96d8d5;
    width: 100%;
    height: 70%;
    flex-direction: column;
    background-image: url("imagenes/pokemon3.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Pokemon4{
    border: 2px solid #eed592;
    border-radius: 5%;

    width: 20%;
    height: 40%;
    min-width: 225px;
    margin: auto;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    p{
        color:#eed592;
        height: 20%;
        width: 20%;
        text-align: center;
    }
}

#pokemon4{
    border-bottom: 2px solid #eed592;
    width: 100%;
    height: 70%;
    flex-direction: column;
    background-image: url("imagenes/pokemon4.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Pokemon5{
    border: 2px solid #7a8e98;
    border-radius: 5%;

    width: 20%;
    height: 40%;
    min-width: 225px;
    margin: auto;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    p{
        color:#7a8e98;
        height: 20%;
        width: 20%;
        text-align: center;
    }
}

#pokemon5{
    border-bottom: 2px solid #7a8e98;
    width: 100%;
    height: 70%;
    flex-direction: column;
    background-image: url("imagenes/pokemon5.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Pokemon6{
    border: 2px solid #987d9b;
    border-radius: 5%;

    width: 20%;
    height: 40%;
    min-width: 225px;
    margin: auto;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    p{
        color:#987d9b;
        height: 20%;
        width: 20%;
        text-align: center;
    }
}

#pokemon6{
    border-bottom: 2px solid #987d9b;
    width: 100%;
    height: 70%;
    flex-direction: column;
    background-image: url("imagenes/pokemon6.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Pokemon7{
    border: 2px solid #9f9b99;
    border-radius: 5%;

    width: 20%;
    height: 40%;
    min-width: 225px;
    margin: auto;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    p{
        color:#9f9b99;
        height: 20%;
        width: 20%;
        text-align: center;
    }
}

#pokemon7{
    border-bottom: 2px solid #9f9b99;
    width: 100%;
    height: 70%;
    flex-direction: column;
    background-image: url("imagenes/pokemon7.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Pokemon8{
    border: 2px solid #a16181;
    border-radius: 5%;

    width: 20%;
    height: 40%;
    min-width: 225px;
    margin: auto;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    p{
        color:#a16181;
        height: 20%;
        width: 20%;
        text-align: center;
    }
}

#pokemon8{
    border-bottom: 2px solid #a16181;
    width: 100%;
    height: 70%;
    flex-direction: column;
    background-image: url("imagenes/pokemon8.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}





/* Boton para ir al juego */
#continuar{
    width: 30%;
    height: 50px;
    min-width: 417px;
    margin:10%;

    background-color: white;
    border-radius: 20px;
    border: 1px #c4c4c4 solid;
    font-family: 'Comfortaa';
    font-size: 20px;
    color: #2c2c2c; 
    text-decoration: none;    

    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}