body{
    display: flex;
    background-color: brown;
}

#resultado{
    height: 300px;
    width: 300px;
    background-size: contain;
    border: 2px solid wheat;
}

.fila {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 10px;
    padding: 20px;
}

.fila div {
    padding: 40px;
    text-align: center;
    border: 2px solid #000;
    font-weight: bold;
    background-size: contain;
    height: 200px;
    width: 200px;
}

#zona1{}

#puntuacion{
    height: 50px;
    width: 50px;
    border: 2px solid wheat;
    position: absolute;
    left: 1300px;
    top: 100px;

    p{
        text-align: center;
        color: white;
    }
    
}

.puntuacion2{
    height: 50px;
    width: 50px;
    border: 2px solid wheat;
    position: absolute;
    left: 1300px;
    top: 450px;

    p{
        text-align: center;
        color: white;
    }
}

.puntuacion3{
    height: 50px;
    width: 50px;
    border: 2px solid wheat;
    position: absolute;
    left: 1300px;
    top: 800px;

    p{
        text-align: center;
        color: white;
    }
}